// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body{margin: 0;

}
.search{display: inline-block;
}
.btn-primary:hover {
  background-color: white; /* Green */
  color: blue;
}
